#main-header{
    background-color: #34405c;
    color: #fff;
    display: flex;
    margin-bottom: 0;
    height: 3.5rem;
    
}

#main-header h1{
    margin-top: 0;
    margin-right: 1rem;
    color: #fff;
}