@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


div.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: '#3b5287'
  }

